body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: $font__main__weight;
	@include font-size($font__size-body);
	line-height: $font__line-height-body;

	@include breakpoint($bp-small) {
		@include font-size($font__size-body-lg);
	}
}

@import "headings";

@import "copy";