@mixin dialog-box($height, $width, $color, $side: 'bottom', 
	$direction: 'right', $distance: 33%) {
	&:after {
		position: absolute;
		#{$direction}: $distance;
		content: '';
		border-style: solid;
		border-width: 0;
		border-color: transparent;

		@if $side == 'bottom' {
			#{$side}: -($height * .95);
			border-top-color: $color;
			border-top-width: $height;
		}
		@else if $side == 'top' {
			#{$side}: -($height * .95);
			border-bottom-color: $color;
			border-bottom-width: $height;
		}
		@else if $side == 'left' {
			#{$side}: -($width * .95);
			border-right-color: $color;
			border-right-width: $width;
		}
		@else if $side == 'right' {
			#{$side}: -($width * .95);
			border-left-color: $color;
			border-left-width: $width;
		}

		@if $direction == 'top' {
			border-bottom-width: $height;
		}
		@else if $direction == 'right' {
			border-left-width: $width;
		}
		@else if $direction == 'bottom' {
			border-top-width: $height;
		}
		@else if $direction == 'left' {
			border-right-width: $width;
		}
	}
}



@mixin conversation-bubble($background-color: #fff, $position: left, $has-avatar: true) {
	background-color: $background-color;
	@include rem-fallback(margin-#{$position}, 6);
	@include dialog-box(1.8em, 1.3em, $background-color, $position, top, 1.7em);

	@include breakpoint($bp-small) { 
		@include rem-fallback(margin-#{$position}, 10); 
		&:after { top: 2em; }
	}

	@if ($has-avatar == true){
		> .comment-body > .comment-meta > .comment-author > .avatar {
			position: absolute;
			@include rem-fallback($position, -6);

			@include breakpoint($bp-small) { @include rem-fallback($position, -10); }
		}
	}
}