ul, ol {
	margin: 0 0 $margin__vertical-medium 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $margin__horizontal-medium;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $margin__vertical-medium $margin__horizontal-medium;
}