$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__content-max-width: 800px;

$grid__gutter-width: 3rem;
$grid-gutter-width: $grid__gutter-width; // for bootstrap grids
$grid-columns: 12;

$margin__vertical-medium: 1.5em;
$margin__vertical-small: .3em;

$margin__horizontal-medium: 1.5em;
$margin__horizontal-small: .3em;

$padding-medium: 1em;
$padding-small: .5em;