.nav-menu > li {
    margin: 0 1.3rem;
}

.nav-menu a:hover {
    opacity: 1;
}


.main-navigation {
	//clear: both;
	//display: block;
	//float: left;
	//width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		display: inline-block;
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		//@include font-size(2);
		@include rem-fallback("padding", 1.3, .2);
		color: $color__menu-color;
		border-bottom: 5px rgba(0, 0, 0, 0) solid;
		opacity: .7;

		&:hover { opacity: 1; }
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		border-bottom-color: rgba($color__menu-color,.8);
    	opacity: 1;
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

// @media screen and (max-width: 600px) {
// 	.menu-toggle,
// 	.main-navigation.toggled .nav-menu {
// 		display: block;
// 	}

// 	.main-navigation ul {
// 		display: none;
// 	}
// }

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 $margin__vertical-medium;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
