.site-footer {
	background-color: $color__palette-neutral;
	padding-top: 4em;
	padding-bottom: 4em;
	color: #fff;
}

.social-links {
	&, & li {
		margin: 0;
		padding: 0;
		display: inline;
	}

	li { 
		list-style-type: none; 
		border-left: 1px solid #fff;

		&:first-child {
			border-left: none;
		}
	}

	.social-icon { 
		margin-left: .4em;
		margin-right: .4em;
	}
}

/*---- Sticky Footer ----*/
* {
	margin: 0;
}
html, body, #page {
	height: 100%;
}
.page-wrapper {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -9.6em; 
}
.page-wrapper:after {
	content: "";
	display: block;
}
.page-wrapper:after {
	height: 9.6em; 
}
.site-footer {
	min-height: 9.6em;
}